<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>NodeJsTODO</title>
</head>
<body>
    
    <nav>
        <h2>NodeJsTODO</h2>
        <ul>
            <li><a href="/">Ver todas</a></li>
            <li><a href="/tasks/create">Criar Task</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>

</body>
</html>