<h1>Editar Task</h1>
</br>
<form action="/tasks/update" method="post">

    <input type="hidden" name="id" value="{{task.id}}">
    <div class="form-controll">
        <label for="title" >Titulo</label>
        <input type="text" name="title" placeholder="O que você vai fazer?" value="{{task.name}}">
    </div>

    <div class="form-controll">
        <label for="description">Descrição</label>
        <textarea  name="description" placeholder="Descreva o que você vai fazer!"  maxlength="255">{{task.description}}</textarea>
    </div>
    <div class="container">
        <input type="submit" value="Salvar alterações">
    </div>
</form>